.product-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 15px;
}

.productcontainer {
    height: 465px;
    width: 255px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 3px;
    justify-content: space-between;
}

.imagecontainer {
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.image {
    max-height: 100%;
    max-width: 100%;
}

.productName-container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.productName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    -webkit-line-clamp: 2;
}


.productPrice {
    color: #25d366;
    font-weight: bold;
    margin-bottom: 3px;
}

.productStock {
    color: #888;
    margin-bottom: 3px;
}

.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
}

.fullStar {
    color: gold;
    font-size: 20px;
}

.halfStar {
    color: gold;
    font-size: 20px;
    background: linear-gradient(to left, transparent 50%, gold 50%);
    -webkit-background-clip: text;
    background-clip: text;
}

.emptyStar {
    color: #ddd;
    font-size: 20px;
}

.addToCartButton {
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 3px;
}

.addToCartButton:hover {
    background-color: #128C7E;
}

.imagecontainer {
    position: relative;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000; /* Standardfarbe */
}

.favorite-icon.favorited {
    color: red; /* Farbe, wenn favorisiert */
}
