

.leave-message-container {
    background-color: #ECE5DD;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leave-message-container h2 {
    color: #075E54;
    text-align: center;
    margin-bottom: 20px;
}

.leave-message-container label {
    display: block;
    margin-top: 15px;
    color: #4A4A4A;
}

.leave-message-container select,
.leave-message-container textarea,
.leave-message-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}

.leave-message-container textarea {
    height: 150px;
    resize: vertical;
}

.leave-message-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #075E54;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.leave-message-container button:hover {
    background-color: #054C43;
}
