.discount-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.discount-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.discount-item {
    flex: 0 0 auto;
}

.image {
    width: 240px;
    height: 300px;
    object-fit: cover; /* This will ensure the image covers the entire space without distortion */
    border-radius: 10px;
}
