.favorite-content-container{
    height: 80vh;
    width: 100%;
    border-radius: 15px;
    background-color: whitesmoke;
    border: none;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.content-container{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: blanchedalmond;
}

.image-wrapper {
    width: 160px;
    height: 160px;
}

.product-container {
    height: 365px;
    width: 255px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 3px;
    justify-content: space-between;
}

.item-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* This creates 5 equal columns */
    gap: 20px; /* This adds spacing between the products */
}
